<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="studio.winpark.app_usages_plus">
    <!--  Permission to access usage stats  -->

    <!--  Additional metadata for plugin usage (optional but helpful)  -->
    <application>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>